/*base*/
body { font-size: 12px; }
a:hover { color: #2B81E8; }
.fl { float: left; display: inline; }
.fr { float: right !important; display: inline; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .clearfix { height: 1%; }
.clearfix { display: block; *display: inline-block; }
.bor-none { border: none !important; }
.shadow-none { box-shadow: none; }
.none { display: none !important; }
.b { font-weight: bold !important; }
.overflow { overflow: hidden; }
.arrowDown { width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 4px solid #383b3c; }

/*reset*/
.container { width: 1190px; margin: 0 auto; padding: 0; }
.list-inline { margin: 0; }
.list-inline>li { padding: 0; }
.form-control { border-radius: 0; }
.btn { border-radius: 0 }
.input-group-addon { border-radius: 0; }

/*color*/
.color-fff { color: #fff !important; }
.color-2B8 { color: #2B81E8 !important; }
.color-E8B { color: #E8B96B !important; }
.color-50B { color: #50B54B !important; }
.color-29C { color: #29C3EC !important; }
.color-666 { color: #666666 !important; }
.color-f90 { color: #FF9900 !important; }
.color-999 { color: #999999 !important; }
.color-3A7 { color: #3A79C4 !important; }
.color-000 { color: #000000 !important; }
.color-397 { color: #3979C4 !important; }
.color-f60 { color: #ff6600 !important; }
.color-45C { color: #45C1E7 !important; }
.color-0E6 { color: #45C0E6 !important; }
.color-FF0 { color: #FF0000 !important; }
.color-6CB { color: #6CBE42 !important; }
.color-BAB { color: #BABABA !important; }
.color-FF9 { color: #FF9A03 !important; }
.color-fe6 { color: #fe6601 !important; }
.color-e38 { color: #e38569 !important; }
.color-50b { color: #50b54b !important; }
.color-56a { color: #56a8e4 !important; }
.color-2ac { color: #2ac3ec !important; }
.color-c0c { color: #c0c0c0 !important; }
.color-2ac { color: #2ac3ec !important; }
.color-FF7 { color: #FF7F00 !important; }
.color-58D { color: #58DAB4 !important; }

/*font*/
.font-wy { font-family: "微软雅黑" !important; }

/*size*/
.size-12 { font-size: 12px !important; }
.size-14 { font-size: 14px !important; }
.size-16 { font-size: 16px !important; }
.size-18 { font-size: 18px !important; }
.size-20 { font-size: 20px !important; }
.size-22 { font-size: 22px !important; }
.size-24 { font-size: 24px !important; }
.size-32 { font-size: 32px !important; }

/*bg*/
.bg-f3f { background-color: #f3f3f3; }
.bg-2ac { background-color: #2ac3ec; }
.bg-56a { background-color: #56a8e4; }
.bg-50b { background-color: #50b54b; }
.bg-e38 { background-color: #e38569; }
.bg-F5F { background-color: #F5F5F5; }
.bg-3A7 { background-color: #3A79C4; }
.bg-999 { background-color: #999999; }
.bg-29C { background-color: #29C3EC; }
.bg-009 { background-color: #009933; }
.bg-45C { background-color: #45C1E7; }
.bg-666 { background-color: #666666; }
.bg-f9f { background-color: #f9f9f9; }
.bg-fff { background-color: #ffffff; }
.bg-50B { background-color: #50B64B; }
.bg-FF9 { background-color: #FF9326; }
.bg-7FC { background-color: #7FC022; }
.bg-339 { background-color: #3399FF; }
.bg-FF6 { background-color: #FF6666; }
.bg-865 { background-color: #8651AE; }
.bg-409 { background-color: #409E8E; }
.bg-58D { background-color: #58DAB4 !important; }
.bg-45C { background-color: #45C1E7 !important; }
.bg-FF6 {background-color:#FF6666;}
.bg-33c {background-color:#33CC66;}
.bg-339 {background-color:#3399FF;}

/*margin padding*/
.mt-10 { margin-top: -10px; }
.m0 { margin: 0 !important; }
.mt5 { margin-top: 5px; }
.mt7 { margin-top: 7px; }
.mt10 { margin-top: 10px !important; }
.mt13 { margin-top: 13px; }
.mt15 { margin-top: 15px; }
.mt16 { margin-top: 16px; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt28 { margin-top: 28px; }
.mt30 { margin-top: 30px !important; }
.mt31 { margin-top: 31px; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mt75 { margin-top: 75px; }
.mt90 { margin-top: 90px !important; }
.ml10 { margin-left: 10px !important; }
.ml13 { margin-left: 13px; }
.ml15 { margin-left: 15px; }
.ml17 { margin-left: 17px; }
.ml20 { margin-left: 20px; }
.ml22 { margin-left: 22px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px !important; }
.ml33 { margin-left: 33px; }
.ml35 { margin-left: 35px; }
.ml50 { margin-left: 50px !important; }
.ml55 { margin-left: 55px !important; }
.ml90 { margin-left: 90px; }
.p0 { padding: 0 !important; }
.p-0-17 { padding: 0 17px; }
.p-0-10 { padding: 0 10px; }
.pt5 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt14 { padding-top: 14px; }
.pt16 { padding-top: 16px; }
.pt18 { padding-top: 18px; }
.pt22 { padding-top: 22px; }
.pt24 { padding-top: 24px; }
.pt60 { padding-top: 60px; }
.pr35 { padding-right: 35px; }
.pr40 { padding-right: 40px; }
.pb20 { padding-bottom: 20px; }
.pb26 { padding-bottom: 26px; }
.pb35 { padding-bottom: 35px; }
.pl15 { padding-left: 15px !important; }
.p20-0 { padding: 20px 0; }

/*width height*/
.w-auto { width: auto !important; }
.w { width: 100%; }
.w84 { width: 84px; }
.w90 { width: 90px; }
.w94 { width: 94px; }
.w133 { width: 133px !important; }
.w224 { width: 224px !important; }
.w268 { width: 268px !important; }
.w280 { width: 280px !important; }
.w320 { width: 320px !important; }
.w350 { width: 350px !important; }
.w475 { width: 475px; }
.w565 { width: 565px; }
.w620 { width: 620px; }
.w640 { width: 640px; }
.w830 { width: 830px; }
.w840 { width: 840px !important; }
.w895 { width: 895px; }
.w908 { width: 908px; }
.h40 { height: 40px; }
.h50 { height: 50px; }
.h55 { height: 55px; }
.h200 { height: 200px !important; }

/*bor*/
.bor-ddd { border: 1px solid #ddd; }
.bor-eee { border: 1px solid #eee; }
.bor-eee-bottom { border-bottom: 1px solid #eee; }

/*public*/
.fon-control-disabled { color: #000; font-size: 24px; font-family: Arial; background: #F8F8F8 !important; }

/*header*/
.list-denglu a { display: inline-block; padding: 0 10px; height: 30px; line-height: 30px; text-decoration: none; color: #777; }
.list-denglu a:hover { background: #999; color: #fff; }
.box-tianqi { padding: 0 45px 0 35px; height: 30px; line-height: 30px; background: url(../images/icon-tianqi.fw.png) 6px center no-repeat; }
.btn-yuyin { background: #fff url(../images/icon-yuyin.fw.png) 0 center no-repeat; }
.btn-yuyin:hover { background: #fff url(../images/icon-yuyin.fw.png) 0 center no-repeat; }
.input-group-search .form-control:focus { box-shadow: none; }
.input-group-search .btn-default { background: #999; color: #fff; font-family: "微软雅黑"; font-size: 18px; }
.list-remen li,
.list-remen li a { color: #999; line-height: 24px; }
.list-remen li a { margin-right: 15px; text-decoration: none; }
.list-remen li a:hover { color: #2B81E8; }
#nav a { display: block; padding: 0 40px; height: 60px; line-height: 60px; font-size: 22px; font-family: "微软雅黑"; text-decoration: none; letter-spacing: 8px; color: #fff; }
#nav a:hover { background: #29C3EC; }
#nav .active a { background: #fff; color: #3e3e3e; }
#nav li { float: left; }

/*footer*/
#footer { margin-top: 25px; padding-top: 25px; border-top: 5px solid #3A79C4; background: #fff; }
#footer p { line-height: 1em; font-size: 14px; color: #333; }
#footer p a { color: #333; padding: 0 9px; text-decoration: none; }
#footer p a:hover { color: #337ab7; }

/*登录*/
.box-login { padding: 50px 0 86px 199px; border-right: 1px solid #eee; }
.box-login .input-group { width: 352px; height: 55px; }
.box-login .input-group-focus .input-group-addon { background: #F3FBFF !important; color: #29C3EC !important; }
.box-login .input-group .input-group-addon { border-radius: 0; background: #f8f8f8; color: #999; }
.input-group-focus .input-group-addon { border-radius: 0; background: #29C3EC !important; color: #fff !important; border-color: #29C3EC; }
.input-group-focus .form-control { border-color: #29C3EC; }
.error-title { visibility: hidden; color: #FF9900; line-height: 26px; padding-left: 20px; background: url(../images/icon-i.fw.png) 0 center no-repeat; }
.link-hyz { padding-left: 9px; display: inline-block; height: 55px; line-height: 62px; font-size: 14px; color: #999; }
.btn-login { width: 100%; height: 55px; font-size: 20px; font-family: "微软雅黑"; }
.box-login-right { margin-left: 830px; padding: 0 77px 0 71px; }
.btn-zczh { height: 50px; line-height: 50px; padding: 0; font-size: 20px; font-family: "微软雅黑"; }

/*邮箱注册*/
.box-register { background: #f8f8f8; }
.nav-tabs-register { width: 150px; }
.nav-tabs-register li a { display: block; width: 150px; height: 120px; background: #ddd; border-radius: 0; border: none !important; }
.nav-tabs-register li.active a { background: #29C3EC url(../images/icon-arr-register.fw.png) right center no-repeat !important; }
.nav-tabs-register li a .head { height: 65px; line-height: 70px; text-align: center; }
.nav-tabs-register li a p { font-size: 16px; color: #fff; font-family: "微软雅黑"; text-align: center; }
.box-register .tab-content { height: 670px; background: #fff; margin-left: 150px; padding: 0 0 0 149px; border-right: 1px solid #eee; }
.box-register .tab-content h2 { line-height: 1em; padding: 48px 0 8px; margin-top: 0; font-size: 20px; font-family: "微软雅黑"; color: #666; }
.box-register .tab-content h2 span { margin-left: 18px; font-size: 12px; color: #29C3EC; font-family: "宋体"; }
.box-register .tab-content .input-group { width: 352px; }
.box-register .tab-content .input-group .input-group-addon { background: #F8F8F8; color: #999; }

/*用户中心-我的报名*/
.header-yhzx { border-bottom: 2px solid #3A79C4; }
#address { height: 60px; line-height: 60px; font-family: "宋体"; }
#address a { color: #666; }
#address a:hover { text-decoration: none; color: #3A79C4; }
.nav-wdbm { width: 250px; padding: 0; list-style: none; border-top: 5px solid #3A79C4; border-bottom: 70px solid #3A79C4; }
.nav-wdbm li { float: left; }
.nav-wdbm a { padding-left: 54px; display: block; width: 250px; height: 55px; line-height: 55px; color: #fff; text-decoration: none; font-size: 14px; background: #3A79C4 url(../images/icon-right-arr.fw.png) 185px center no-repeat; border-bottom: 1px solid #719DD5; }
.nav-wdbm a:hover { background-color: #3399FF; }
.nav-wdbm .active a { background: #F5F5F5 url(../images/icon-right.fw.png) 180px center no-repeat; color: #000; }
.nav-wdbm a img { margin-right: 7px; }
.box-wdbm { margin-left: 310px; }
.h2-3A7 { position: relative; z-index: 1; margin: 0; height: 50px; line-height: 35px; border-bottom: 1px solid #ddd; color: #3A79C4; font-size: 20px; font-family: "微软雅黑"; }
.h2-3A7 span { position: absolute; top: 0; right: 0; color: #f60; font-size: 12px; font-family: "宋体"; }
.nav-tabs-wdbm { height: 45px; overflow: hidden; border-bottom: none; }
.nav-tabs-wdbm li { margin: 0; }
.nav-tabs-wdbm li a { padding: 0; width: 120px; height: 45px; line-height: 45px; border-radius: 0; font-size: 14px; text-align: center; border: none !important; color: #000; background: #f5f5f5; }
.nav-tabs-wdbm li.active a { background: #3A79C4 !important; color: #fff !important; }
.box-apply { padding-top: 19px; height: 135px; border-bottom: 1px dashed #ddd; }
.box-apply .left { display: block; border-radius: 40px; behavior: url(../css/ie-css3.htc); }
.box-apply .status { color: #fff; padding: 2px; margin-left: 15px; }
.btn-circle { margin-left: 6px; display: inline-block; width: 60px; height: 60px; line-height: 60px; font-size: 14px; text-align: center; text-decoration: none; color: #fff; overflow: hidden; }
.btn-circle:hover { color: #fff; text-decoration: none; }
.btn-chakan { background: url(../images/btn-chakan.fw.png); text-indent: -100px; }
.btn-edit { background: url(../images/btn-edit.fw.png); text-indent: -100px; }
.btn-delete { background: url(../images/btn-delete.fw.png); text-indent: -100px; }
.btn-circle-blue { background: url(../images/btn-circle-blue.fw.png); text-indent: 0; }
.btn-circle-green { background: url(../images/btn-circle-green.fw.png); text-indent: 0; }
.btn-circle-orange { background: url(../images/btn-circle-orange.fw.png); text-indent: 0; }
.pages { padding: 50px 0; }
.pages a { display: inline-block; height: 30px; line-height: 30px; padding: 0 11px; font-size: 14px; color: #666; border: 1px solid #ccc; text-decoration: none; }
.pages a:hover,
.pages a.active { background: #3A79C4; color: #fff; border: 1px solid #3A79C4; }
.pages span { font-size: 14px; color: #999; }
.pages input[type="text"] { width: 40px; text-align: center; height: 30px; border: 1px solid #ccc; color: #999; }
.pages input[type="button"] { width: 55px; height: 30px; text-align: center; background: #fff; color: #999; border: 1px solid #ccc; }
.pages input[type="button"]:hover { background: #3A79C4; color: #fff; border: 1px solid #3A79C4; }

/*用户中心-我的信息*/
.link-head { border-radius: 50px; background: #fff; behavior: url(../css/ie-css3.htc); }
.box-xgwdxx { padding-left: 195px; }
.box-xgwdxx .form-control { width: 268px; }
.box-xgwdxx .form-star { height: 55px; line-height: 55px; width: 50px; text-align: center; font-size: 18px; font-family: "宋体"; }
.btn-m { font-weight: normal; display: inline-block; height: 34px; line-height: 34px; color: #fff; text-decoration: none; padding: 0 18px; font-size: 14px; }
.btn-m:hover { text-decoration: none; color: #fff; }
.input-group .radio { margin: 0; line-height: 55px; }
.input-group .radio input[type='radio'] { top: 17px; }
.input-group .radio label { font-size: 14px; color: #999; }
.input-group-gender { border-right: 1px solid #DADFE6 !important; }
.box-xgwdxx .input-group-addon { background: #F8F8F8; color: #999; border-color: #DADFE6; }
.box-xgwdxx .form-control { border-color: #DADFE6; }
.dropdown-toggle { position: relative; text-align: left; font-size: 16px; color: #999; }
.btn .caret { position: absolute; top: 23px; right: 23px; }
.btn-55 { padding: 0 53px; display: inline-block; height: 55px; line-height: 55px; border: none; color: #fff; font-size: 20px; font-family: "微软雅黑"; text-decoration: none; }
.btn-55:hover { text-decoration: none; color: #fff; box-shadow: 5px 5px 5px #ddd; }
#upload { width: 92px; height: 34px; margin-top: -34px; visibility: hidden; }

/*爱科学*/
.list-float { padding: 0; list-style: none; }
.list-float li { float: left; }
.list-quanbu { padding: 25px 0; margin: 0; }
.list-quanbu li a { padding: 0 18px; display: block; height: 27px; line-height: 27px; font-size: 14px; text-decoration: none; color: #333; cursor: pointer; }
.list-quanbu li.active a { background: #45C1E7; color: #fff; }
.list-quanbu li.active a span { color: #fff; }
.list-quanbu li a span { font-size: 12px; font-family: Arial; color: #3A79C4; }
.box-feiji { width: 840px; padding: 25px 0; border-bottom: 1px solid #eee; }
.box-feiji .body { width: 490px; padding-left: 19px; }
.box-feiji .h { height: 30px; }
.box-feiji .h a { font-size: 18px; font-family: "微软雅黑"; color: #333; }
.box-feiji .body .text { font-family: "宋体"; font-size: 14px; line-height: 24px; color: #787878; }
.span-c0c { background: #C0C0C0; color: #fff; font-size: 14px; padding: 4px 8px; }
.box-feiji .body .time { margin-left: 15px; color: #999; font-size: 12px; font-family: "宋体"; }
.circle-55 { display: block; width: 55px; line-height: 55px; width: 55px; text-align: center; color: #fff; background: url(../images/circle-blue-55.fw.png) no-repeat; font-size: 16px; text-decoration: none; }
.circle-55:hover { background: url(../images/circle-green-55.fw.png) no-repeat; text-decoration: none; color: #fff; }
.box-feiji .footer { padding: 50px 0 0 35px; }

/*热门排行*/
.box-rmph { padding: 0 20px; margin-left: 875px; }
.h24-3A7 { height: 55px; line-height: 55px; margin: 0; font-size: 24px; color: #3A79C4; font-family: "微软雅黑"; }
.box-remen h1 { margin: 0; height: 30px; line-height: 30px; }
.box-remen h1 a { font-size: 16px; font-family: "微软雅黑"; color: #000; text-decoration: none; }
.box-remen .body { overflow: hidden; }
.box-remen .body div.text { width: 175px; color: #999; font-size: 12px; font-family: "宋体"; }
.btn-circle-30 { display: inline-block; width: 30px; height: 30px; line-height: 30px; text-align: center; font-size: 16px; font-family: Arial; color: #fff; }
.btn-circle-30-red { background: url(../images/circle-red-30.fw.png); }
.btn-circle-30-orange { background: url(../images/circle-orange-30.fw.png); }
.btn-circle-30-yellow { background: url(../images/circle-yellow-30.fw.png); }
.btn-circle-30-grey { background: url(../images/circle-grey-30.fw.png); }
.list-hdtj li a { font-size: 14px; color: #333; font-family: "微软雅黑"; }
.list-hdtj li { padding: 16px 0; }
.span-yybm { color: #fff; padding: 4px 5px; }

/*齐参与*/
.checkbox-custom { display: inline-block; font-size: 14px; padding-left: 5px; background: url(../images/checkbox-1.fw.png) no-repeat; color: #666; }
.checkbox-custom input { visibility: hidden; }
.checkbox-custom-checked { background: url(../images/checkbox-1-selected.fw.png) no-repeat; color: #3A79C4; }
.box-qcy-parent { overflow: hidden; }
.box-qcy-body { margin-left: -23px; }
.box-qcy { margin: 20px 0 0 23px; width: 380px; height: 450px; border: 1px solid #eee; }
.box-qcy:hover { border-color: #f90; }
.box-qcy h1 { margin: 0; height: 45px; line-height: 45px; text-indent: 14px; }
.box-qcy h1 a { font-size: 20px; color: #000; font-family: "微软雅黑"; text-decoration: none; }
.box-qcy .body { width: 260px; color: #666; font-size: 14px; line-height: 28px; padding-left: 14px; margin-top: 15px; }
.box-qcy .body p { margin: 0; line-height: 26px; font-size: 14px; color: #666; font-family: "宋体"; }
.circle-80 { display: inline-block; padding: 20px; line-height: 20px; width: 80px; height: 80px; text-align: center; font-size: 18px; color: #fff; font-family: "微软雅黑"; font-weight: bold; background: url(../images/circle-blue-80.fw.png); text-decoration: none; }
.circle-80:hover { background: url(../images/circle-orange-80.fw.png); color: #fff; text-decoration: none; }
.box-qcy .footer { margin: 50px 13px 0 0; }

/*搜索*/
.box-search .left { width: 120px; }
.box-search .right { margin-left: 120px; }
.box-search .right .checkbox { margin-right: 1em; }
.box-search .right .checkbox span { color: #3A79C4; font-size: 12px; }
.box-search-header { height: 50px; line-height: 50px; border: 1px solid #29C3EC; background: #F3FBFF; overflow: hidden; }
.box-search-header .left { padding: 0 20px; }
.box-search-header .body { font-size: 14px; }
.box-search-header .body a { text-decoration: none; }
.box-search-header .footer { padding-right: 15px; }
.box-search-header .footer span { color: #666; }
.box-search-header .footer a { margin-top: -6px; }
.checkbox-custom-blue .checkbox-custom-checked { background: url(../images/checkbox-2-selected.fw.png) no-repeat; }
.box-gzz { border-bottom: 1px dashed #ddd; padding: 15px 0; overflow: hidden; }
.box-gzz .body .color-3A7 { text-decoration: underline; }
.box-gzz-big .left { width: 180px; }
.box-gzz-big .body { margin-left: 192px; }
.box-gzz-small .left { width: 107px; }
.box-gzz-small .body { margin-left: 120px; }
.box-gzz .body .text { margin-top: 10px; line-height: 20px; }
.box-gzz .body .detail p { margin: 0; line-height: 18px; }
.link-bor { color: #f60; border: 1px solid #f60; background: #fff; padding: 3px 5px; font-size: 14px; text-decoration: none; }
.link-bor:hover { color: #fff; background: #f60; text-decoration: none; }

/*调研*/
.box-dxt { border-bottom: 1px solid #ddd; }
.box-dxt .title { font-size: 14px; width: 89px; height: 30px; line-height: 30px; text-align: center; background: #3A79C4; color: #fff; }
.box-dxt .content { height: 30px; line-height: 30px; }
.radio label { font-size: 14px; }
.textarea { padding: 7px; margin: 0; width: 100%; height: 35px; background: #F2F7FB; border: 1px solid #C6D8EE; }
.btn-90 { width: 90px; height: 35px; font-family: "微软雅黑"; background: #3A79C4; font-size: 16px; }

/*资讯类详细页*/
#atricle .h1 { margin: 0; height: 35px; line-height: 35px; color: #000; font-size: 22px; font-family: "微软雅黑"; }
#atricle .info { height: 59px; line-height: 50px; border-bottom: 1px solid #eee; }
#atricle .info span { font-size: 12px; color: #999; }
#atricle .content { padding: 45px 82px; margin: 0 auto; border-bottom: 1px solid #eee; }
#atricle .content p { font-size: 14px; color: #333; line-height: 1.6em; }
.btn-kuai { height: 22px; line-height: 22px; padding: 0 7px; border: none; color: #fff; }
.box-share { padding: 18px 0; }
.box-atricle-link span { font-size: 14px; color: #999; font-family: "宋体"; }
.box-atricle-link a { margin-left: 15px; font-size: 14px; color: #000; }
.box-atricle-link a:hover { color: #3A79C4; }

/*活动类详细页*/
.slide-hd .btn-left,
.slide-hd .btn-right { opacity: 0.7; filter: alpha(opacity:70); position: relative; z-index: 2; }
.slide-hd .btn-left:hover,
.slide-hd .btn-right:hover { opacity: 1; filter: alpha(opacity:100); }
.slide-hd .body { position: relative; margin: 0 40px; overflow: hidden; height: 72px; }
.slide-hd .body ul { position: absolute; z-index: 1; top: 0; left: 0; }
.slide-hd .body li { margin: 0 9px; padding: 5px; border: 1px solid #ccc; }
.slide-hd .body li.selected { border: 1px solid #FF9900; }
.box-zjr { width: 465px; }
.span-blue { color: #3A79C4; border: 1px solid #3A79C4; padding: 4px 18px; background: #fff; }
.slide-zcr .body { height: 130px; }
.slide-zcr .body li { padding: 10px; border: none; }
.slide-zcr .body li div { border-radius: 50px; overflow: hidden; behavior: url(../css/ie-css3.htc); }
.slide-zcr .body li p { margin: 5px 0 0 0; color: #3A79C4; font-size: 14px; text-align: center; }
.slide-zcr .btn-left,
.slide-zcr .btn-right { margin-top: 40px; }
.btn-wybm { display: inline-block; height: 50px; line-height: 50px; color: #fff; background: #3A79C4; padding: 0 40px; text-decoration: none; }
.btn-wybm:hover { color: #fff; text-decoration: none; background: #45C1E7; }
.h2-nrjs { margin: 0; line-height: 40px; font-size: 22px; font-family: "微软雅黑"; border-bottom: 1px dashed #ccc; }
.p-indent { text-indent: 2em; }
.p-nrjs { margin: 0; line-height: 26px; }
.box-yhpl { padding: 20px 30px; border-bottom: 1px dashed #ccc; }
.box-yhpl .color-BAB { font-family: Arial; margin-left: 15px; }
.textarea-pingfen { padding: 1em; height: 155px; background: #F9F9F9; }
.btn-pinglun { padding: 3px 26px !important; }

/*新首页*/
.body-index { position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; background: url(../images/bg-body.png) no-repeat; background-size: 111% }
.body-index .input-search { width: 665px; margin: 0 auto; border: 1px solid #fff; }
.body-index .input-search .form-control { width: 510px; height: 46px; border: none; }
.body-index .input-search .form-control:focus { box-shadow: none; }
.body-index .input-search .btn-voice { width: 35px; height: 46px; background: #fff url(../images/icon-voice.png) center center no-repeat; cursor: pointer; }
.body-index .input-search .btn-search { width: 120px; height: 46px; background: #58dab4; color: #fff; font-family: "微软雅黑"; font-size: 22px; }
.list-rmgjc li { margin: 0 10px; color: #fff; }
.list-rmgjc li a { color: #fff; font-family: "宋体"; }
.body-index .list-nav { margin-top: 95px; }
.body-index .list-nav li { margin: 0 25px; }
.body-index .list-nav a { display: block; }
.body-index .list-nav a.img { width: 86px; text-align: center; height: 86px; line-height: 86px; background: url(../images/circle-86.png); }
.body-index .list-nav a.txt { line-height: 42px; text-align: center; color: #fff; font-size: 20px; font-family: "微软雅黑"; }
.body-index .list-nav a.img:hover,
.body-index .list-nav li.selected a.img { width: 115px; text-align: center; height: 115px; line-height: 115px; background: url(../images/circle-115.png); text-transform: 1s; }
.list-map li a { margin: 0 1.4em; color: #fff; }

/*demo*/
.list-kxdjt li { margin: 0 32px; }
.list-kxdjt li a { text-decoration: none; opacity: 1; filter: alpha(opacity:100); }
.list-kxdjt li a:hover { opacity: 0.7; filter: alpha(opacity:70); }
.list-kxdjt li p { line-height: 22px; font-size: 20px; color: #333; font-family: "微软雅黑"; }
.slide-hdz .carousel-inner .item img { margin: 0 auto; }
.slide-hdz  .carousel-indicators { bottom: 5px; }
.slide-hdz  .carousel-indicators li { margin: 0 7px; width: 19px; height: 19px; background: #4dbeff; border: none; }
.slide-hdz  .carousel-indicators li.active { background: #a9d609; }
.slide-hdz .carousel-inner img { max-width: none !important; }
.h2 { margin: 0; }
.h2 strong { font-size: 28px; color: #3a79c4; font-family: "微软雅黑"; font-weight: normal; }
.h2 .list-page li { font-size: 14px; }
.h2 .more { margin: 13px; font-size: 14px; color: #999; font-family: "宋体"; }
.list-akx li { margin-top: 15px; margin-right: 10px; }
.list-akx li a { position: relative; z-index: 1; display: block; width: 285px; height: 196px; }
.list-akx li a:hover { opacity: 0.7; filter: alpha(opacity:70); }
.list-akx li a strong { position: absolute; top: 5px; left: 5px; padding: 0 1em; display: block; height: 22px; line-height: 20px; background: #409ccf; color: #fff; border: 1px solid #ddd; font-weight: normal; }
.list-akx li a .bg { position: absolute; bottom: 0; left: 0; width: 100%; height: 40px; background: #000; opacity: 0.7; filter: alpha(opacity:70); }
.list-akx li a p { position: absolute; bottom: 0; left: 0; width: 100%; padding-top: 0.6em; height: 40px; line-height: 40px; color: #fff; font-size: 14px; text-align: center; }
.box-yunbanshi { padding-top: 15px; height: 90px; border-bottom: 1px solid #e2e2e2; }
.box-yunbanshi .item-1 { width: 55px; height:55px; border-radius:30px; line-height:55px; text-align:center; color:#fff; font-size:30px; font-weight:bold; font-family: "微软雅黑";}
.box-yunbanshi .item-2 { margin-left:10px; width: 158px; line-height: 58px; font-size: 18px; color: #333; font-family: "微软雅黑"; }
.box-yunbanshi .item-3 .title { height: 33px; line-height: 57px; font-size: 14px; }
.box-yunbanshi .item-3 { width: 373px; }
.box-yunbanshi .item-4 a { float: left; width: 96px; height: 54px; text-align: center; text-decoration: none; }
.box-yunbanshi .item-4 a .img { height: 30px; line-height: 30px; }
.box-yunbanshi .item-4 a p { color: #fff; font-family: "宋体"; }
.box-yunbanshi .item-4 a:hover { opacity: 0.7; filter: alpha(opacity:70); }
.box-yunpeixun { padding: 10px 0; height: 150px; border-bottom: 1px dashed #e1e1e1; }
.box-yunpeixun .left { width: 189px; }
.box-yunpeixun .center { width: 556px; }
.box-yunpeixun .center h3 { margin: 0; }
.box-yunpeixun .center h3 a { font-size: 20px; color: #333; font-family: "微软雅黑"; }
.box-yunpeixun .center .txt { color: #999; margin-top: 8px; line-height: 16px; }
.box-yunpeixun .center .detail { color: #000; font-size: 14px; }
.box-yunpeixun .center .address { color: #e38569; font-size: 14px; }
.box-yunpeixun .center .time { margin: 15px 0 0 0; color: #e38569; font-size: 14px; }
.box-yunpeixun .right { text-decoration: none; cursor: pointer; margin: 28px 16px 0 0; width: 76px; height: 77px; padding: 18px 0; text-align: center; font-size: 14px; color: #fff; background: url(../images/demo/circle-76.png); }
.list-zhanfengcai li { float: left; border-right: 1px solid #fff; border-bottom: 1px solid #fff; }
.list-zhanfengcai li a { position: relative; display: block; text-decoration: none; opacity: 1; filter: alpha(opacity:100); }
.list-zhanfengcai li a:hover { opacity: 0.7; filter: alpha(opacity:70); }
.list-zhanfengcai li strong { position: absolute; top: 5px; left: 5px; padding: 0 1.4em; display: block; height: 22px; line-height: 20px; background: #df8f14; color: #fff; border: 1px solid #ddd; font-weight: normal; }
.list-zhanfengcai li a .bg { text-indent: 1em; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background:url(../images/kdt-2.fw.png);  opacity: 0; filter: alpha(opacity:0); }
.list-zhanfengcai li a .bg:hover { opacity: 1; filter: alpha(opacity:100); }
.list-zhanfengcai li a .bg .text { position: absolute; left: 0; bottom: 1em; }
.list-zhanfengcai li a p { font-family: "微软雅黑"; margin: 5px 0 0 0; height: 20px; line-height: 20px; color: #fff; font-size: 14px; text-align: left; }
.list-zhanfengcai li a h3 { margin: 0; color: #fff; font-family: "微软雅黑"; font-size: 20px; }
.nav-tabs-tzgg { border-bottom: 2px solid #2AC3EC; }
.nav-tabs-tzgg li { padding: 5px 0 13px 0; width: 50%; }
.nav-tabs-tzgg li a { color: #acacac; height: 25px; text-align: center; border: none !important; background: none !important; font-size: 20px; font-family: "微软雅黑"; line-height: 7px; }
.nav-tabs-tzgg li a.first { border-right: 1px solid #ddd !important; }
.nav-tabs-tzgg li.active a { color: #4DBEFF !important; }
.tab-pane-gonggao .detail { background: #ebf8ff; }
.tab-pane-gonggao .detail .header { font-size: 14px; line-height: 22px; padding: 0 16px; }
.tab-pane-gonggao .detail .body { padding: 9px; }
.tab-pane-gonggao .detail .body p { margin-left: 120px; color: #999; }
.tab-pane-gonggao .detail .body p a.xiangqing { color: #e3856b; }
.list-tzgg { padding: 0; }
.list-tzgg li { text-indent: 16px; list-style: none; line-height: 25px; background: url(../images/demo/list-style.png) 5px center no-repeat; }
.list-tzgg li a { font-size: 14px; color: #000; }
.h2-bor { border-bottom: 2px solid #2AC3EC; }
.list-time { height: 37px; background: #f2f2f2; padding: 7px 0 0 6px; border-bottom: 1px solid #fff; }
.list-time li { float: left; font-size: 16px; font-family: "微软雅黑"; }
.list-time li .xiangqing { margin-right: 7px; display: inline-block; padding: 0 16px; height: 26px; line-height: 26px; color: #fff; font-size: 12px; text-decoration: none; }
.box-peixun { padding: 0 7px; }
.box-rili { background: #f2f2f2; padding-bottom: 15px; }
.box-rili .circle { text-decoration: none; padding-top: 12px; width: 57px; height: 57px; text-align: center; }
.circle-57-blue { background: url(../images/demo/circle-57-blue.png); }
.circle-57-orange { background: url(../images/demo/circle-57-orange.png); }
.circle-57-green { background: url(../images/demo/circle-57-green.png); }
.box-rili .circle p { color: #fff; }
.box-rili .link { margin-left: 10px; width: 190px; margin-top: 10px; font-size: 15px; line-height: 22px; }
.box-rili .time,
.box-rili .address { margin: 5px 0 0 13px; }
.box-rili .address { margin-top: 0px; }
.slide-qicanyu .item { width: 281px; height: 209px; }
.slide-qicanyu .item .bg { position: absolute; z-index: 1; bottom: 0; left: 0; width: 100%; height: 105px; background: #000; opacity: 0.7; filter: alpha(opacity:70); }
.slide-qicanyu .item .txt { position: absolute; z-index: 2; bottom: 0; left: 0; width: 100%; height: 105px; }
.slide-qicanyu .item .txt h3 { margin: 0; line-height: 40px; color: #fff; font-size: 16px; text-align: center; }
.slide-qicanyu .item .txt p { color: #fff; padding: 0 1em; line-height: 1.4em; }
.slide-qicanyu .carousel-indicators { bottom: -35px; }
.slide-qicanyu .carousel-indicators li { border: none; background: #ddd; color: #fff; width: 19px; height: 19px; border-radius: 0; text-indent: 0; }
.slide-qicanyu .carousel-indicators li.active { background: #4dbeff; }
.box-erweima { margin-top: 37px; height: 112px; padding: 5px; background: #134e5c; }
.box-erweima p { margin-left: 135px; padding-top: 20px; color: #fff; font-size: 23px; font-family: "微软雅黑"; }
.box-weibo { border: 1px solid #d2d2d2; border-top: 2px solid #eb1c2c; }
.box-weibo .header { height: 28px; line-height: 28px; background: url(../images/demo/weibo.png) 7px center no-repeat; text-indent: 30px; border-bottom: 1px solid #d2d2d2; }
.box-weibo .box-info { background: #fff; padding: 10px 0 5px 0; border-bottom: 1px solid #d2d2d2; }
.box-weibo .box-info .guanzhu { display: block; width: 62px; height: 26px; line-height: 26px; border: 1px solid #d2d2d2; background: url(../images/demo/add.png) 10px center no-repeat; color: #333; padding-left: 30px; text-decoration: none; }
.box-weibo .list-guanzhu li { padding: 0 20px; border-left: 1px solid #ddd; }
.box-weibo .list-guanzhu li a { color: #6298d6; }
.box-weibo .message { height: 215px; overflow: auto; background: #fff; border-bottom: 1px solid #d2d2d2; }
.box-weibo .message .title { padding: 15px 15px 0 15px; line-height: 20px; }
.box-weibo .message .bor-top { margin: 0 13px; height: 15px; background: url(../images/demo/sanjiao.png) 0 bottom no-repeat; }
.box-weibo .message .txt { padding: 20px 10px; margin: 0 13px; border: 1px solid #d2d2d2; border-top: none; }
.box-weibo .box-fensi { height: 40px; }
.box-weibo .box-fensi .all { height: 40px; line-height: 40px; margin: 0 13px; }
.box-weibo .box-fensi .all a { font-family: "宋体"; }
.list-fensi { margin: 0 13px; width: 100%; }
.list-fensi li { margin-right: 14px; }
.list-fensi li a { display: block; }
.box-hezuojigou { padding-top: 50px; position: relative; height: 207px; margin-top: 38px; background: url(../images/demo/bg-shibao.png); }
.box-hezuojigou h2 { position: absolute; top: -26px; left: 50%; margin-left: -108px; width: 217px; height: 43px; }
.slide-animate { position: relative; z-index: 1; }
.slide-animate .left,
.slide-animate .right { position: absolute; z-index: 2; top: 50%; right: 10px; margin-top: -22px; cursor: pointer; opacity: 1; filter: alpha(opacity:100); }
.slide-animate .left { left: 10px; }
.slide-animate .left:hover,
.slide-animate .right:hover { opacity: 0.7; filter: alpha(opacity:70); }
.slide-animate .slide-main { overflow: hidden; }
.slide-animate .slide-main ul { height: 118px; overflow: hidden; }
.slide-animate .slide-main li { float: left; }
#returnBack { display: none; position: fixed; z-index: 998; bottom: 300px; right: 100px; width: 51px; height: 51px; background: url(../images/demo/goback.png) no-repeat; cursor: pointer; }
#returnBack:hover { opacity: 0.7; filter: alpha(opacity:70); }
.box-admin { border: 1px solid #ddd; padding: 10px 10px 0 10px; }

/*用户中心*/
.box-admin .box-info { padding-left: 22px; }
.box-admin .box-mobile { margin-top: 15px; width: 253px; background: url(../images/fwzx-6.fw.png) no-repeat; }
.box-admin .box-mobile img { transition: .5s; }
.box-admin .box-mobile img:hover { transform: rotate(360deg); }

/*常用功能*/
.list-cygn li { border-top: 1px solid #fff; border-right: 1px solid #fff; }
.list-cygn li a { display: block; width: 111px; height: 100px; line-height: 100px; text-align: center; font-size: 16px; color: #fff; font-family: "微软雅黑"; text-decoration: none; }
.list-cygn li a:hover { opacity: 0.7; filter: alpha(opacity:70); }

/*帮助中心*/
.list-bzzx li { width: 100%; height: 49px; line-height: 49px; text-indent: 45px; border-bottom: 1px dashed #ddd; background: url(../images/fwzx-7.fw.png) 30px center no-repeat; }
.list-bzzx li a { color: #252525; font-size: 16px; }

/*电影排片*/
.box-dypp-time { position: relative; background: #50B54B; }
.box-dypp-time p { height: 30px; line-height: 30px; margin: 0; font-size: 14px; color: #fff; font-family: "微软雅黑"; }
.box-dypp-time .left,
.box-dypp-time .right { width: 18px; height: 18px; color: #fff; position: absolute; top: 3px; text-decoration: none; font-family: "宋体"; font-size: 18px; font-weight: bold; }
.box-dypp-time .left { left: 10px; }
.box-dypp-time .right { right: 10px; text-align: right; }
#carousel-dypp .item { height: 130px; background: #f2f2f2; padding: 10px 40px; }
#carousel-dypp .item img { }
#carousel-dypp .left,
#carousel-dypp .right { padding-top: 40px; background: none; }
#carousel-dypp .carousel-caption { padding: 0 0 10px 60px; top: 10px; }
#carousel-dypp .carousel-caption .name { color: #50B44B; font-family: "宋体"; font-weight: bold; font-size: 14px; }
#carousel-dypp .carousel-caption p { margin-bottom: 5px; font-size: 12px; color: #666; text-shadow: none; text-align: left; }
#carousel-dypp .carousel-indicators { bottom: 0; }
#carousel-dypp .carousel-indicators li { margin: 0; width: 12px; height: 12px; background: url(../images/dy-number.fw.png) -15px 0 no-repeat; }
#carousel-dypp .carousel-indicators li.active { background-position: 0 0; }

/*看动态*/
.box-kdt h2 a { font-size: 24px; color: #252525; }
.box-kdt .detail { font-size: 14px; line-height: 23px; color: #666; }
.box-kdt .link-detail { width: 55px; height: 55px; line-height: 55px; text-align: center; text-decoration: none; border-radius: 30px 30px 30px; color: #fff; font-size: 14px; }
.box-kdt .link-detail:hover { opacity: 0.7; filter: alpha(opacity:70); }
.box-kdt .time a { padding: 0 1em; height: 22px; line-height: 22px; background: #C0C0C0; font-size: 14px; color: #fff; }
.box-kdt .time span { margin-left: 1em; color: #999; line-height: 22px; }
.list-kdt li { line-height: 42px; }
.list-kdt li a { font-size: 16px; color: #252525; }
.box-img-kdt { margin-left: 640px; }
#carousel-kdt .carousel-caption { padding: 0; width: 100%; height: 50px; line-height: 50px; left: 0 !important; bottom: 0; background: url(../images/kdt-2.fw.png); font-size: 20px; text-align: left; text-indent: 1em; font-family: "微软雅黑"; }
#carousel-kdt .carousel-indicators { width: 20%; bottom: 0; right: 2em; left: auto; }
#carousel-kdt .carousel-indicators .active { background: #FF7F00; }
#carousel-kdt .carousel-indicators li { margin: 0; background: #9B9B8C; width: 9px; height: 9px; border: none; }
.list-kdt-img { margin: 0 0 0 -27px; }
.list-kdt-img a { position: relative; z-index: 1; display: block; width: 260px; height: 173px; }
.list-kdt-img a img:hover { opacity: 0.7; filter: alpha(opacity:70); }
.list-kdt-img a div { position: absolute; bottom: 0; left: 0; width: 100%; height: 35px; line-height: 35px; background: url(../images/kdt-2.fw.png); color: #fff; font-size: 14px; text-indent: 1em; }
.list-kdt-img li { margin: 0 0 27px 27px; }

/*展风采*/
.container-fluid {}
.container-fluid .box { margin-bottom: 20px; float: left; width: 280px; }
.container-fluid a { display: block; text-decoration: none;}
.container-fluid a:hover{ opacity: 0.7; filter: alpha(opacity:70);}
.container-fluid a div{text-indent: 1em; padding-bottom: 1em;}
.container-fluid a h2{ font-size:20px; font-family: "微软雅黑"; color: #fff;}
.container-fluid a p{ font-size: 12px; margin:5px 0 0 0; color: #fff;}
.container-fluid .box img { max-width: 100%; }
.down-more{ width: 250px; height: 45px; font-size: 14px; background: #F0F0F0;}